


    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <div class="alert-primary">
                <h2>About Us</h2>
            </div>
                <p><h3>
    WHO WE ARE
</h3>
                <p>
                    <hr/>
                    <br />
                    Founded in 2021, ReginaNews is an owned news and information service owned by <a href="#"> Rana Habash</a> based in Canada. We provide a Canadian perspective on news and current affairs.
                    Our mission is to inform, expose and contribute to the understanding of issues of public concern and encourage citizens to participate in our free and democratic society.
                    ReginaNews uses pop-up desks as well, with reporters traveling when a story happens outside of our current offices.
                </p>
            </div>
      
        </div>