<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">
       


            <div class="row">


                @foreach (var item in Model)
                {


                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-7 mb-lg-0">

                        <div class="icon-box" style="width:100%" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon">
                                <i class="fas fa-sign"></i>
                            </div>

                            <h4 class="title"><a href="">@item.Name</a></h4>
                            <p class="description">@item.Description </p>
                        </div>
                    </div>
                }

            </div>


       
    </div>


</section><!-- End Featured Services Section -->