

<div class="container" data-aos="fade-up">

    <div class="section-title">
       
            <h1>Privacy</h1>
        </div>
    <hr/>
        <center>

            <p><h2>This page can only be accessed by admins.</h2></p>
        </center>
        <div class="text-center"><button class="btn btn-success " type="submit"><a href="/News"><h2> creat News</h2></a></button></div>
        <br />
        <div class="text-center"><button class="btn btn-dark " type="submit"><a href="/Categories"><h2> creat Categories</h2></a></button></div>


</div>                                                      